<h2>Show Post</h2>

<ul>

  <li>
    <strong>Taskname:</strong>
    <%= @post.taskname %>
  </li>

  <li>
    <strong>Completed:</strong>
    <%= @post.completed %>
  </li>

  <li>
    <strong>Hoursspent:</strong>
    <%= @post.hoursspent %>
  </li>

</ul>

<span><%= link "Edit", to: post_path(@conn, :edit, @post) %></span>
