<h2>Show Task</h2>
<div class="row">
  <ul>
    <li>
      <strong>Task Name:</strong>
      <%= @post.taskname %>
    </li>

    <li>
      <strong>Is the task complete:</strong>
      <%= @post.completed %>
    </li>

    <li>
      <strong>Time Spent:</strong>
      <%= @post.hoursspent %> minutes.
    </li>

    <li>
      <strong>Discription:</strong>
      <%= @post.body %>
    </li>

  </ul>
</div>
<span><%= link "Back", to: user_path(@conn, :show, @current_user) %></span>
